# Python
.venv

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
tfplan
terraform.tfplan
terraform.tfplan.*
*.tfvars.backup
*.tfvars.json
terraform.tfvars

# IDE
.vscode/

# OS
.DS_Store

# Logs
*.log

# Ansible
*.retry 
ansible/inventory.yml